.how{
    display: flex;
    justify-content: center;
    
    .howList{
        list-style-type: none;
        width: 50%;
        .liList{
            display: flex;
            justify-content: space-between;
            border-top: 1px solid black;
            gap: 2vw;
            height: 15vh;
            align-items: center;
            // border-bottom: 1px solid black;

            .number{
                font-size: clamp(1.5rem, 3vw, 3rem);
                // overflow: hidden;
                .numList{
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    list-style-type: none;
                    .liNumListTranslate{
                        display: flex;
                        // position: relative;
                        // top: 7.5vh;
                        // transform: translateY(-80px);
                        opacity: 0;
                        .numbersTranslate{
                            opacity: 0;
                            transform: translateY(-25px);
                        }
                    }
                    .liNumList{
                        display: flex;
                        // position: absolute;
                        // position: relative;
                        // top: 7.5vh;
                        transform: translateY(-30px);
                    }
                }
            }
            .title{
                font-size: clamp(1.5rem, 2.8rem, 3rem);
                color: $color-3;
                flex-grow: 1;
                text-shadow: 
                -1px 1px 0 $color-1,
                -1px 1px 0 $color-1,
                -1px 1px 0 $color-1,
                -1px 1px 0 $color-1;
            }
            .btn{
                font-size: clamp(1.5rem, 3rem, 3rem);
                z-index: 20;
                position: relative;
                cursor: pointer;
            }
        }
    .isClicked{
        animation: smootheClick 1s ease-in-out both;
    }
    .hide{
        height: 0;
        font-size: clamp(1rem, 2vw, 2vw);
        padding: 0 5vw;
        overflow: hidden;
        ul{
            display: flex;
            justify-content: space-between;
        }
    }
}
}
@keyframes smootheClick {
    0% {
        opacity: 0;
        height: 0px;
    }
    
    100% {
        opacity: 1;
        height: 110px;
    }
}
@media (max-width: 768px) {
    .how{
        .howList{
            width: 90%;
            .liList{
                .number{
                    .numList{
                        .liNumListTranslate{
                            transform: translate(0, 15px)!important;
                        }
                        .liNumList{
                            transform: translateY(-12px);
                        }
                    }
                }
            }
            
        }
    }
}
@media (max-width: 452px) {
    .how{
        .howList{
            .hide{
                ul{
                    list-style-type: none;
                }
            }
        }
    }
}