*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //debug width
    // box-shadow: 0 0 0 3px red inset;
}
// ::-webkit-scrollbar-thumb{
//     background: transparent;
// }
.App{
    overflow: hidden;
}

@import '../components/NavBar/navBar.scss';
@import '../components/Footer/footer.scss';
@import '../pages/Home/home.scss';
@import '../pages/Contact/contact.scss';
@import '../pages/Entreprise/entreprise.scss';
@import '../pages/Particulier/particulier.scss';
@import '../pages/tarifs/components/Title/title.scss';
@import '../pages/tarifs/components/Card/card.scss';
@import '../pages/tarifs/components/Banniere/banniere.scss';
@import '../pages/tarifs/components/How/how.scss';
@import './font.scss';

