.particulier {
    strong.color {
        color: $color-4;
    }
    strong.italic{
        font-style: italic;
    }
    strong.sizeUp {
        font-size: 6rem;
    }

    strong.titleUp {
        font-size: 16rem;
    }

    strong.sizeDown {
        font-size: 2.5rem;
    }

    .gestion {
        display: flex;
        width: 100%;
        align-items: center;
        height: 70px;
        overflow: hidden;
        background-color: $color-4;
        
        .spanGestion {
            white-space: nowrap;
            color: $color-1;
            // -webkit-text-stroke: 2px $color-1;
            text-transform: uppercase;
            font-size: 63px;
            animation: translateXText 15s linear infinite;
        }
       

    }

    .service {
        text-transform: uppercase;
        background-color: $color-3;
        overflow: hidden;

        .title {
            // position: relative;
            font-size: 12rem;
            color: white;
            text-shadow:
                -8px -0px 0 $color-1,
                2px -0px 0 $color-1,
                -8px 4px 0 $color-1,
                2px 4px 0 $color-1;
            transform: translateX(-800px);
            // left: -800px;
            transform-origin: top right;
            overflow: hidden;
        }

        .serviceList {
            list-style-type: none;
            text-align: center;
            font-size: 5rem;

            .liAnim {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                overflow: hidden;
                white-space: nowrap;
                height: 150px;
                font-size: 3.5rem;

                // border: 1px solid black;
                span {
                    display: block;
                    overflow: hidden;
                    transform: translateY(200px);
                    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);

                }
            }
        }

        h2#more {
            background-color: $color-3;
            text-align: center;
            font-size: 10rem;
            padding-top: 100px;
            color: white;
            // -webkit-text-stroke: 1px $color-1;
            text-shadow:
                -8px 4px 0 $color-1,
                1px -0px 0 $color-1,
                -8px 4px 0 $color-1,
                -2px 4px 0 $color-1;
        }
    }

    svg {
        background-color: $color-3;

        .st1 {
            fill: $color-5;
        }
    }

    .find {
        background-color: $color-2;

        .toBottom {
            font-size: 3em;
            width: max-content;
            margin: 0 0 0 100px;
            list-style-type: none;
            overflow: hidden;

            li {
                margin: 15px;
                color: white;
                padding: 1rem;
                box-shadow: 4px 4px 0 black;
                border: 2px solid $color-1;
                border-radius: 20px;
                text-shadow: 3px 2px 0px black;
                transform: translateY(200px);
                text-transform: uppercase;
                background: rgb(64, 78, 92);
                background: linear-gradient(145deg, rgba(64, 78, 92, 1) 30%, rgba(166, 207, 213, 1) 100%);
            }
        }

        .titleAnim {
            overflow: hidden;
            text-align: center;

            h2 {
                display: inline-block;
                text-align: center;
                // -webkit-text-stroke: 1px black;
                font-size: 4.5rem;
                transform: translateY(200px);
                padding: 1rem;
                text-transform: uppercase;
                text-shadow: -2px 0px 0 black
            }

        }
    }
}




@keyframes translateXText {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}