@import '../../styles/colors.scss';

.navBarContainer {
    display: flex;
    justify-content: center;
    background-color: $color-1;

    .logoContainer img {
        width: 170px;
        margin: 10px;
    }

    .headerContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;

        ul {
            display: flex;
            list-style-type: none;
            gap: 150px;
            font-size: 2rem;
            color: white;

            #contentWord {
                width: 130px;
                text-align: center;
                animation: apparition 2s ease-in-out infinite;

                &::after {
                    content: '';
                    animation: changeWord 10s linear infinite 1s;
                }
            }

            .animate {
                width: 50px;
                height: 50px;
            }

        }
    }

    .btnMenu {
        position: fixed;
        cursor: pointer;
        right: 50px;
        top: 30px;
        letter-spacing: -5px;
        z-index: 1000;
        font-size: 50px;
        color: $color-6;
        outline: none;
        background-color: transparent;
        border: none;
        text-decoration: underline;
        font-family: 'Open Sans';
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);


        &:hover {
            animation: scaleUp 0.4s ease-in-out both;
        }
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        background-color: $color-4;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 1000;

        .imgLogo {
            // position: fixed;
            height: 80%;
            width: 80%;
            background-color: $color-3;
            display: flex;
            // flex-direction: column;
            gap: 20px;
            justify-content: space-between;
            align-items: center;

            .menuFooter {
                display: flex;
                height: 100%;
                flex-direction: column;
                align-items: baseline;
                justify-content: space-between;

                img {
                    margin: 1rem;
                    align-self: baseline;
                }
            }

            .menuLink {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 30%;
                justify-content: space-evenly;
                padding: 100px 0;

                div {
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: $color-4;
                        position: absolute;
                        width: 50%;
                        left: 30%;
                        animation: growToAll .5s ease-in-out both;
                        text-transform: uppercase;
                    }
                }

                li {
                    list-style-type: none;
                    width: max-content;
                    color: black;

                    &:hover {
                        animation: scaleUp 0.5s ease-in-out both;
                        text-decoration: underline 5px;
                    }

                    a {
                        color: $color-1;
                        font-family: 'Kanit';
                        font-weight: 800;
                        font-size: 5rem;
                    }
                }
            }

            .lienReseau {
                padding-left: 35px;
                height: 15px;

                li {
                    list-style-type: none;
                    cursor: pointer;
                    line-height: 30px;
                    width: max-content;
                    color: black;
                    text-decoration: underline;

                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 22px;
                        font-weight: 800;
                    }
                }
            }

            .email {
                padding-left: 35px;
                height: 100px;

                li {
                    list-style-type: none;
                    cursor: pointer;
                    line-height: 30px;
                    width: max-content;
                    color: black;
                    text-decoration: underline;
                }
            }

            .closeMenu {
                cursor: pointer;
                font-size: 80px;
                color: $color-1;
                height: 80px;
                outline: none;
                background-color: transparent;
                border: none;
                align-self: flex-start;
                margin: 1rem;

                &:hover {
                    animation: rotate 0.5s ease-in-out both;
                }
            }
        }
    }
}

@keyframes scaleUp {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        color: $color-4;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes growToAll {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
        width: 800px;
    }
}

@keyframes changeWord {
    0% {
        content: 'Local';
    }

    20% {
        content: 'Proche';
    }

    40% {
        content: 'Competente';
    }

    60% {
        content: 'Abordable';
    }

    80% {
        content: 'Rapide';
    }

    100% {
        content: 'Efficace';
    }
}

@keyframes apparition {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    20% {
        transform: translateY(1px);
        opacity: 0.9;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}