footer{
    background-color: $color-1;
    height: 700px;
    // transform: translateY(-91px);
    overflow: hidden;
    h1{
        padding: 5rem;
        text-align: center;
        font-size: 17rem;
        color: $color-5;
        overflow: hidden;
        span{
            display: inline-block;
            transform: translateY(30px);
            padding: 0 2px;
            -webkit-text-stroke: 2px $color-3;
            text-shadow: -4px 5px 0 black;
        }
    }
    .contain{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        font-size: 1.4rem;
        color: $color-3;
        .contact{
            list-style-type: none;
            grid-column: 2;
        }
        .mention{
            grid-column: 4;
            text-align: center;
        }
    }
    .reseau{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        h3{
            grid-column: 4;
            text-align: center;
            border-top: 2px solid white;
            padding-top: 10px;
            color: $color-3;
        }
        .iconReseau{
            display: flex;
            justify-content: center;
            gap: 5%;
            list-style-type: none;
            grid-column: 4;
            text-align: center;
            
            li{
                a{
                    color: $color-3;
                    text-decoration: none;
                    font-size: 1.6rem;
                    svg{
                        &:hover{
                            transform: scale(1.2);
                        }

                    }
                }
            }
        }
    }
}